.footer-top{
    background-image: url(/resources/img/footer-bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
  }
    
  .footer-bottom{
    background-color: var(--my-footer-bg);
    padding: 30px;
    
  }
    
   
  .bg-logo{
    padding: 15px 0;
    background-image: url(/resources/img/dc-logo-bg.png);
    background-repeat: no-repeat;
    background-position:right;
  }
    
  .footer-list{
    list-style: none;
    padding: 20px;
    h2{
      color: var(--my-white-text);
      padding-bottom: 10px;
    }
    a{
      color: var(--my-grey-text);
      text-decoration: none;
      display: inline-block;
      padding-bottom: 5px;
    }
  }
  .footer-img{
    display: flex;
    h3{
      color: var(--my-primary-color);
      padding: 10px;
    }
    img{
      display: inline-block;
      padding-right: 15px;
      object-fit: contain;
    }
  }