:root {
    // Colors
    --my-primary-color: #0282f9;
    --my-secondary-color:#1c1c1c;
    --my-white-text: #ffff;
    --my-grey-text: #959595;
    --my-footer-bg:#303030;
    // Container size

    
}